<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @documento.nome %>
</p>

<p>
  <strong>Conteudo:</strong>
  <%= @documento.conteudo %>
</p>

<%= link_to 'Edit', edit_documento_path(@documento) %> |
<%= link_to 'Back', documentos_path %>
